<div id="lor-menu">
    <div class="pure-menu pure-menu-horizontal">
        <span class="pure-menu-heading">Lorraine Sposto</span>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="/recipes" class="pure-menu-link">Recipes</a></li>
            <li class="pure-menu-item"><a href="/recipes/new" class="pure-menu-link"><i class="fa fa-2 fa-plus-circle"></i></a></li>
        </ul>
    </div>
</div>