<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>
<div id="layout">
  <h1><%= message %></h1>
  <p><%= error.status %></p>
  <p><%= error.stack %></p>
</div>
<% include ./partials/styles %>
</body>
</html>