<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>

<div id="layout">
  <% include ./partials/header %>
  <div id="react-content">
    <%- title %>
  </div>
  <footer>
    <% include ./partials/footer %>
  </footer>
</div>
<% include ./partials/styles %>
<!--<script src="/js/components.js"></script>-->
</body>
</html>