<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>

<div id="layout">
    <% include ./partials/header %>
    <div id="react-content">
        <%- reactOutput %>
    </div>

    <script id="react-data">
        <%- data %>
    </script>
    <footer>
        <% include ./partials/footer %>
    </footer>
</div>
<% include ./partials/styles %>
<%- scripts %>
</body>
</html>